

<div id="cf4a">
	<%= image_tag "http://s3.amazonaws.com/littlebitbucket/assets/images/03_MG_8490LR-all.gif" %>
	<%= image_tag "http://s3.amazonaws.com/littlebitbucket/assets/images/bitsinperspective.png", :class => "centerimage" %>
	<%= image_tag "http://s3.amazonaws.com/littlebitbucket/assets/images/MG_8229_01FlatTestLR-600x400.jpeg" %>
	<%= image_tag "http://s3.amazonaws.com/littlebitbucket/assets/images/01a_MG_8454_NoHandLR-all.gif" %>
</div>

