header {
	.logo {
		padding-top: 30px;
	}
	.tagline {
		margin-top: -120px;
		float: right;
	}
	.sign-in {
		margin-top: -30px;
		float: right;
		p{
			font-family: littlebits;
			font-size: large;
			a {
				-webkit-transition:color 0.3s ease;
				-moz-transition:color 0.3s ease;
				-o-transition:color 0.3s ease;
				-ms-transition:color 0.3s ease;	
				transition:color 0.3s ease;
				color: black;
				&:hover {
					color: #00cffe;
				}
			}
		}
	}	
	center {
		nav{
			text-align: center;
			margin:0px auto;
			ul {
				float: right;
				width: 950px;
				margin-top:30px;
				li {
					list-style: none;
					display: inline;
					float: left;
					a {
						-webkit-transition:background 0.3s ease;
						-moz-transition:background 0.3s ease;
						-o-transition:background 0.3s ease;
						-ms-transition:background 0.3s ease;	
						transition:background 0.3s ease;
						text-align:center;
						padding:5px 0px 6px 0px;
						float:left;
						width:103px;
						margin: 0px 1px 0px 1px;
						background:#3D3732;
						&:hover {
							background: #EC268F;
							text-decoration: none;
						}
						h1 {
							text-decoration: none;
							font-family:gotham, Arial, Helvetica, sans-serif;
							font-size:18px;
							font-weight:lighter;
							line-height:18px;
							padding:2px 0px 0px 0px;
							margin:0px;
							color:#fff;
						}
					}
					.selected {
						background: #EC268F;
					}
				}
			}
		}
	}
}