<footer>
	<div class="footer_text"> 
		&copy; Copyright 2011-2012 littleBits  | <a href="http://littlebits.cc/license">License</a> | <a href="http://littlebits.cc/terms-of-use">Terms of Use</a> | <a href="http://littlebits.cc/privacy-policy">Privacy Policy</a> | <a href="http://littlebits.cc/shipping-and-returns">Shipping & Returns</a>  | <a href="http://littlebits.cc/press">Press</a>  | <a href="http://littlebits.cc/careers">Careers</a>   | <a href="http://littlebits.cc/contact">Contact Us</a><br />
		littleBits is a trademark of littleBits Electronics, Inc. All rights reserved.<br />
    littleBits by littleBits Electronics Inc. is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike license</a>, the <a href="http://www.ohwr.org/documents/88">CERN OHL</a> and supports the <a href="http://freedomdefined.org/OSHW">Open Hardware Definition 1.0</a><br />
  </div>
  <div class="footer_image"> <a href="http://creativecommons.org/licenses/by-sa/3.0/"><%= image_tag "cc.png", {:height => 30} %></a> </div>
  <div class="footer_image"> <a href="http://freedomdefined.org/OSHW"><%= image_tag "oshw-purple-logo-100-px.png", {:height => 31} %></a> </div>
  <div class="anchor"></div>
</footer>
